.About
    background-color: #F8F8F8
    .header
        font-family: 'Cormorant_Garamond', Helvetica, Arial, serif
        font-weight: 700
        font-size: 24px
        text-transform: uppercase
        text-align: center
        padding-top: 30px
        padding-bottom: 30px
        color: #5B5D6F
        letter-spacing: 0.15em
        line-height: 29px
    .content
        margin: 0 20px
        font-size: 18px
        letter-spacing: 0.04em
        line-height: 145%
        padding-bottom: 35px
        .query
            padding-top: 30px
            font-family: 'Cormorant_Garamond', Helvetica, Arial, serif
            font-style: italic
            font-weight: 700
            font-size: 19px
            text-align: center
            color: rgba(0,0,0,0.8)
        .art
            display: flex
            align-items: center
            justify-content: center
            margin: 15px 0
    .left, .right
        width: 125px
        height: 2px
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 27.6%)
    .right
        transform: rotate(-180deg)
    .center
        margin: 0 19px
    .atext
        color: rgba(0,0,0,0.8)
        font-size: 18px
        line-height: 145%
        letter-spacing: 0.04em
        span
            color: #DCAA72
    .query
        padding-top: 30px
        font-family: 'Cormorant_Garamond', Helvetica, Arial, serif
        font-style: italic
        font-weight: 700
        font-size: 19px
        text-align: center
        color: rgba(0,0,0,0.8)
    .header
        font-family: 'Cormorant_Garamond', Helvetica, Arial, serif
        font-weight: 700
        font-size: 24px
        text-transform: uppercase
        text-align: center
        padding-top: 30px
        padding-bottom: 30px
        color: #5B5D6F
        letter-spacing: 0.15em
        line-height: 29px
    .content
        margin: 0 20px
        font-size: 18px
        letter-spacing: 0.04em
        line-height: 145%
        padding-bottom: 35px
    .art
        display: flex
        align-items: center
        justify-content: center
        margin: 15px 0
    .left, .right
        width: 125px
        height: 2px
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 27.6%)
    .right
        transform: rotate(-180deg)
    .center
        margin: 0 19px
.text
    color: rgba(0,0,0,0.8)
    font-size: 18px
    line-height: 145%
    letter-spacing: 0.04em
    span
        color: #DCAA72