.About
    max-width: 920px
    margin: 101px auto 0 auto
    h2
        font-weight: 700
        font-size: 48px
        line-height: 58px
        text-align: center
        letter-spacing: 0.15em
        text-transform: uppercase
        color: #5B5D6F
        font-family: 'Cormorant Garamond'
    p
        font-weight: 400
        font-size: 26px
        line-height: 145%
        letter-spacing: 0.04em
        color: rgba(0, 0, 0, 0.8)
        span
            color: #DCAA72
    div
        display: flex
        justify-content: center
        align-items: center
        gap: 20px
    .query
        font-family: 'Cormorant Garamond'
        font-style: italic
        font-weight: 700
        font-size: 32px
        line-height: 90%
        display: flex
        justify-content: center
        text-align: center
        letter-spacing: 0.04em
        color: #707070