.Header
    background-color: white
    display: flex
    flex-direction: column
    justify-content: center
    .HeaderContent
        display: flex
        padding: 30px 0
        justify-content: space-between
        width: 70vw
        margin: 0 auto
        .empty
            width: 1px
            height: 1px
        .logo
            width: 73px
            height: 64px
        .numbers
            font-size: 14px
    .TopLine
        height: 1px
        width: 100%
        background: linear-gradient(90deg, rgba(226, 226, 226, 0) 0%, #E2E2E2 12.5%, #E2E2E2 88.54%, rgba(226, 226, 226, 0) 100%)