.NavBar
    background-color: white
    position: sticky
    top: 0
    left: 0
    z-index: 140
    .navbarContent
        width: 70vw
        margin: 0 auto
        padding: 11px 0
        display: flex
        justify-content: space-between
        div:last-of-type
            gap: 39px
        div:first-of-type
            width: 70%
            justify-content: space-between
        div
            display: flex
            flex-shrink: 0
            align-items: center
            a
                color: black
                text-decoration: none
                flex-shrink: 0
            .active
                color: #DCAA72
            button
                align-items: center
                flex-shrink: 0
                background-color: #DCAA72
                border: 2px solid #DCAA72
                color: #DCAA72
                border-radius: 12px
                display: flex
                padding: 12px 20px
                cursor: pointer
                span
                    font-weight: 600
                    font-size: 20px
                    line-height: 26px
                    letter-spacing: 0.04em
                    font-family: 'Futura PT', Helvetica, Arial, sans-serif
                    color: white
                svg
                    flex-shrink: 0
                    margin-right: 10px
    .countryChoose
        position: fixed
        right: 0
        top: 0
        width: 100px
        height: 100px
        background: white
        border-radius: 0.75rem
        z-index: 151