.NavBar
    background-color: white
    position: sticky
    top: 0
    left: 0
    z-index: 140
    .navbarContent
        width: 70vw
        margin: 0 auto
        padding: 11px 0
        display: flex
        justify-content: space-between
        div
            display: flex
            gap: 1%
            a
                color: black
                text-decoration: none
            button
                margin-right: 36%