*
    margin: 0
    padding: 0
    -webkit-tap-highlight-color: transparent
body
    background-color: black
    font-family: 'Futura PT', Helvetica, Arial, sans-serif
    font-size: 24px
    letter-spacing: 0.04em
    line-height: 145%
    background-color: #F8F8F8
    overflow-x: hidden
@font-face
    font-family: 'Futura PT'
    src: url('./../public/fonts/FuturaPT/FuturaPT-Book.ttf')  format('truetype')
    font-weight: 400
    font-style: normal
@font-face 
    font-family: 'Futura PT'
    src: url('./../public/fonts/FuturaPT/FuturaPT-Demi.ttf')  format('truetype')
    font-weight: 500
    font-style: normal
@font-face 
    font-family: 'Cormorant_Garamond'
    src: url('./../public/fonts/Cormorant_Garamond /CormorantGaramond-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-style: normal
@font-face 
    font-family: 'Cormorant_Garamond'
    src: url('./../public/fonts/Cormorant_Garamond /CormorantGaramond-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal
@font-face 
    font-family: 'Cormorant_Garamond'
    src: url('./../public/fonts/Cormorant_Garamond /CormorantGaramond-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal
@font-face 
    font-family: 'Cormorant_Garamond'
    src: url('./../public/fonts/Cormorant_Garamond /CormorantGaramond-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
@font-face 
    font-family: 'Cormorant_Garamond'
    src: url('./../public/fonts/Cormorant_Garamond /CormorantGaramond-BoldItalic.ttf') format('truetype')
    font-weight: 700
    font-style: italic
@font-face
    font-family: 'Cormorant_Garamond'
    src: url('./../public/fonts/Cormorant_Garamond /CormorantGaramond-Italic.ttf') format('truetype')
    font-weight: 400
    font-style: italic