.Slider
    height: 684px
    width: 100%
    position: relative
    div
        max-height: 684px
        max-width: 100%
        img
            object-fit: cover
            height: 684px
            width: 100%
    .bgBlack
        background: black
        height: 684px
        width: 100%
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 50%
    .btns
        display: flex
        justify-content: space-between
        position: absolute
        top: 45%
        width: 100%
        svg
            margin: 0 3vw
            width: 30px
            height: 60px