.Slider
    height: 684px
    width: 100%
    div
        height: 684px
        width: 100%
        img
            object-fit: cover
            height: 684px
            width: 100%
    .leftArrow
        width: 18px
        height: 32px